<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.enioka.scanner">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- DISABLED: experimenting with replacing services and using threads instead
        <service
            android:name=".service.ScannerService"
            android:description="@string/service_description"
            android:exported="false" /> -->

        <!-- SPP providers -->
        <service
            android:name=".sdk.generalscan.GsSppScannerProvider"
            android:description="@string/service_description"
            android:exported="false">

            <intent-filter>
                <action android:name="com.enioka.scan.PROVIDE_SPP_SCANNER" />
            </intent-filter>
        </service>

        <service
            android:name=".sdk.zebraoss.ZebraOssSppScannerProvider"
            android:description="@string/service_description"
            android:exported="false">

            <intent-filter>
                <action android:name="com.enioka.scan.PROVIDE_SPP_SCANNER" />
            </intent-filter>
        </service>

        <service
            android:name=".sdk.honeywelloss.HoneywellOssSppScannerProvider"
            android:description="@string/service_description"
            android:exported="false">

            <intent-filter>
                <action android:name="com.enioka.scan.PROVIDE_SPP_SCANNER" />
            </intent-filter>
        </service>

        <!-- DISABLED: never tested, so rather incomplete and likely buggy.
        <service
            android:name=".sdk.postech.PostechSppScannerProvider"
            android:description="@string/service_description"
            android:exported="false">

            <intent-filter>
                <action android:name="com.enioka.scan.PROVIDE_SPP_SCANNER" />
            </intent-filter>
        </service> -->

        <!-- Other scanner providers -->
        <service
            android:name=".sdk.hid.GenericHidProvider"
            android:description="@string/service_description"
            android:exported="false">

            <intent-filter>
                <action android:name="com.enioka.scan.PROVIDE_SCANNER" />
            </intent-filter>
        </service>

        <service
            android:name=".sdk.athesi.HHTProvider"
            android:description="@string/service_description"
            android:exported="false">

            <intent-filter>
                <action android:name="com.enioka.scan.PROVIDE_SCANNER" />
            </intent-filter>
        </service>

        <service
            android:name=".sdk.bluebird.BluebirdProvider"
            android:description="@string/service_description"
            android:exported="false">

            <intent-filter>
                <action android:name="com.enioka.scan.PROVIDE_SCANNER" />
            </intent-filter>
        </service>

        <service
            android:name=".sdk.proglove.ProgloveProvider"
            android:description="@string/service_description"
            android:exported="false">

            <meta-data
                android:name="bluetooth"
                android:value="true" />
            <intent-filter>
                <action android:name="com.enioka.scan.PROVIDE_SCANNER" />
            </intent-filter>
        </service>

        <service
            android:name=".bt.manager.SerialBtScannerProvider"
            android:description="@string/service_description"
            android:exported="false">

            <meta-data
                android:name="bluetooth"
                android:value="true" />
            <intent-filter>
                <action android:name="com.enioka.scan.PROVIDE_SCANNER" />
            </intent-filter>
        </service>

    </application>

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- needed for BLE -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- For API <= 28 -->
</manifest>
