<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".service.ScannerService"
            android:description="@string/service_description"
            android:exported="false" />

        <!-- Other scanner providers -->
        <service
            android:name=".bt.manager.SerialBtScannerProvider"
            android:description="@string/service_description"
            android:exported="false"
            tools:ignore="Instantiatable">

            <meta-data
                android:name="bluetooth"
                android:value="true" />

            <intent-filter>
                <action android:name="com.enioka.scan.PROVIDE_SCANNER" />
            </intent-filter>
        </service>

    </application>

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- For newer API versions -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- needed for BLE -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- For API <= 28 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="com.honeywell.decode.permission.DECODE" /> <!-- Needed by Honeywell OSS SDK for integrated scanners -->

    <queries>
        <package android:name="com.honeywell.decode.DecodeService" />
        <package android:name="kr.co.bluebird.android.bbapi.action.BARCODE_OPEN" />
    </queries>
</manifest>
