<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="enioka-scan-cordova-capacitor-integration"
        version="0.1.0">

  <name>ActivityStarterPlugin</name>

  <engines>
    <engine name="cordova" version=">=12.0.0"/>
  </engines>

  <asset src="www/main.js" target="js/main.js"/>

  <js-module src="www/main.js" name="main">
    <clobbers target="ActivityStarterPlugin"/>
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ActivityStarterPlugin">
        <param name="android-package" value="com.enioka.plugin.ActivityStarterPlugin"/>
      </feature>
    </config-file>

    <source-file src="src/android/ActivityStarterPlugin.java" target-dir="src/com/enioka/plugin/"/>
    </platform>
</plugin>